<h3>View Climber Details</h3>
<div>
    <div>
        <label><b>Firstname: </b></label> {{climber.fname}}
    </div>
    <div>
        <label><b>Lastname: </b></label> {{climber.lname}}
    </div>
    <div>
        <label><b>Harness: </b></label> {{climber.harness}}
    </div>
    <div>
        <label><b>Belay Device: </b></label> {{climber.belayDevice}}
    </div>
    <div>
        <label><b>Climbing Shoes: </b></label> {{climber.climbingShoes}}
    </div>
    <div>
        <label><b>Helmet: </b></label> {{climber.helmet}}
    </div>
    <div>
        <label><b>Chalkbag: </b></label> {{climber.chalkbag}}
    </div>
    <div>
        <label><b>Quickdraw: </b></label> {{climber.quickdraw}}
    </div>
    <div>
        <label><b>Retail Price: </b></label> {{climber.retailPrice}}
    </div>
    <div>
        <label><b>Quantity: </b></label> {{climber.quantity}}
    </div>
</div>
